body{
    margin:0px
    
}
.grid-container{
    margin:0px;
    
    display : grid;
    grid-template-columns: auto auto auto;
    background-color:rgba(255, 255, 255, 0.466);
    
}

.header{

    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(22, 155, 165);
    padding-left: 10px;
    color: white;
}
.title{
    margin-left: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
   
}

.dateStamp{
    color: grey;
    grid-column-start:1;
    grid-column-end:1;
    font-size: large;
     margin: 10px;
}
.articleSection{
    grid-column-start:1;
    grid-column-end:5;
    text-justify: auto;
    margin: 10px;
    text-indent: 2px;

}
a {
    text-decoration: none;
    color:rgb(22, 155, 165);
}
a:active{
    background-color: green;
    color :white;
}
a:hover{
    color:brown
}
.profile{
    color:grey;
    grid-column-start: 1;
    grid-column-end: 5;
    margin: auto;
     width: 100%;
     text-align: center;
}
h6{
    margin: 3px;
}
.button {
    grid-column-start:1;
    grid-column-end:1;
box-shadow: 1px,1px black;
padding: 10px;
background-color:rgb(22, 155, 165); ;
width: 200px;
height: 20px;
text-align: center;
margin-left: 10px;
}
.button a {
    grid-column-start:1;
    grid-column-end:1;
    color: white;
box-shadow: 1px,1px black;
padding: 10px;
background-color:rgb(22, 155, 165); ;
width: 200px;
height: 20px;
}

.tutorial-flex-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tutorial-flex-con > div{
    color:rgb(22, 155, 165);
border: 1px solid;
box-shadow: 1px,1px black;
padding: 10px;
width: 200px;
height: 20px;
margin: 20px;
text-align: center;
}
.nav-items{
   display: flex;
   flex-direction: row;   
}

.nav-items >li{
   color: rgb(22, 155, 165);
   list-style: none;
   margin-inline:10px;
   padding-bottom: 5px;
    
}
.nav-items li >a{
   color:white;
   list-style: none;
   margin-inline:10px;
   padding-bottom: 5px;
    
}

.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(22, 155, 165);
    padding: 10px;
    height: 100px;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.footer a{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(22, 155, 165);
    padding: 10px;
    height: 100px;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.center{
   
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 5;
    margin: auto;
     width: 100%;
     text-align: center;
    
}
